*{
    box-sizing: border-box;
    margin: 0;
}

/*
:root {
    
}
*/

nav{
    justify-content: space-between;
    display: flex;
    padding-top: 8px;

}

.nav-menu ul{
    display: inline-flex;
    list-style: none;
    
}

.nav-menu ul li{
    padding-left: 10px;
    font-weight: bold;
}

.nav-menu ul li:hover{
    color: red;
    
}

.nav-brand{
    font-weight: bold;
}