.card{
    width: 100%;
    border-radius: 10px;
    margin: auto;

}

@media screen and (max-width:768px) {
    .card{
        width: 100%;
        border-radius: 10px;
        margin: auto;
    }
}

.task-title{
    margin-bottom: 4px;
}